body{
    font-family:Arial,sans-serif;
    background:#f4f4f4;
}

.container{
    width:400px;
    margin:50px auto;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px gray;
}

input{
    width:90%;
    padding:10px;
}

button{
    margin-top:10px;
    padding:10px 20px;
    cursor:pointer;
}

.error{
    color:red;
    font-size:14px;
}

#success{
    color:green;
    font-weight:bold;
}